body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Roboto Light", "Roboto Thin";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  line-height: 60px;
  color: #56593D;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;

}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  border-radius: 4px;
  margin-bottom: .5rem;
}

.input{
  margin-right : 1rem;
}

.rm {
  background: #56593D;
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
}

.done{
  text-decoration: line-through;
}

.items_list{
  padding:0;
}

.form_input {
  height: 3px;
  outline: none;
  padding: 20px;
  border: none;
  border-radius: 5000px;
  box-shadow: 1px 1px 3px #56593D;
}

.button {
  margin-left: 20px;
  background: #56593D;
  outline: none;
  padding: 15px 20px;
  border: none;
  box-shadow: 1px 1px 3px grey;
  color: white;
  border-radius: 19px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button:hover{
  box-shadow: 3px 3px 5px grey;
}